<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.Login"
    >
        <div style="display: flex; flex-direction: row">
            <div *ngIf="mg.isImageExists(mgc.Image8)">
                <img
                    [magic]="mgc.Image8"
                    [src]="mg.getImage(mgc.Image8)"
                />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label11"
                class="lable_overflow"
            >
                ユーザID/利用者名
            </label>
            <div>
                <mat-form-field>
                    <div>
                        <input
                            matInput
                            [magic]="mgc.V_V_UserID"
                            [formControlName]="mgc.V_V_UserID"
                            mgFormat
                        >
                        <mgError [magic]=mgc.V_V_UserID> </mgError>
                    </div>
                </mat-form-field>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label12"
                class="lable_overflow"
            >
                パスワード
            </label>
            <div>
                <mat-form-field>
                    <div>
                        <input
                            matInput
                            [magic]="mgc.V_V_Password"
                            [attr.required]=""
                            type="password"
                            [formControlName]="mgc.V_V_Password"
                            mgFormat
                        >
                        <mgError [magic]=mgc.V_V_Password> </mgError>
                    </div>
                </mat-form-field>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                mat-raised-button
                color="primary"
                [magic]="mgc.B_kaisi"
                [disabled]="mg.isDisabled(mgc.B_kaisi )"
            >
                {{mg.getValue(mgc.B_kaisi)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                mat-raised-button
                color="primary"
                [magic]="mgc.B_shuryo"
            >
                {{mg.getValue(mgc.B_shuryo)}}
            </button>
        </div>
    </div>
</div>