<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.StartProgram"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label3"
                class="lable_overflow mgFont1"
            >
                ようこそ：
            </label>
            <label [magic]="mgc.gUserID">
                {{mg.getValue(mgc.gUserID) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <router-outlet [magic]="mgc.Subform1">
            </router-outlet>
        </div>
    </div>
</div>